
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*---------- SCROLLBAR ----------*/

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
    border: 3px solid #fff;
}

/*------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

#container {
    width: 55%;
    height: 1000px ;
    padding: 50px 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #000;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.15);
    transition: .5s ease;
}

#title {
    font-size: 50px;
}

#profileBlock {
    width: 500px;
    height: 900px ;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
    border-radius: 25px;
    background-color: #000;
    transition: .5s ease;
}

#Block2 {
    display: flex;
    width: max-content;
}