
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*---------- SCROLLBAR ----------*/

*::-webkit-scrollbar {
    width: 12.5px;
}

*::-webkit-scrollbar-track {
    background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
    border: 3px solid #fff;
}

/*------------------------------*/

body {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #141415;
}

#title {
    width: max-content;
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    background-color: #3EB650;

    font-size: 15px;
    position: fixed;
    top: 50px;
    right: 50px;
}

#profileBlock {
    width: 900px;
    padding: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.35);
    transition: .5s ease;
}

#userImageSection {
    width: 300px;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 25px;
    background-color: #f5f5f5;
    box-shadow: 0px 10px 5px #000;
}

#userImageSection img {
    width: 300px;
}

#firstInfo {
    margin-bottom: 25px;
}

#firstInfo1 {
    margin-bottom: 15px;
}

#line {
    width: 70%;
}

#secondInfo {
    margin-top: 25px;
}

#secondInfo2 {
    margin-top: 15px;
}

#secondInfo2 p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 150%;
}

#seDeconnecter {
    color: #000;
    font-size: 15px;
    margin-top: 20px;
    padding: 15px 20px;
    width: max-content;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #fff;
    transition: .25s ease-in-out;

    position: fixed;
    top: 100px;
    right: 50px;
}

#seDeconnecter:hover {
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 10px #000;
    background-color: #E12B38;
    transition: .25s ease-in-out;
}